@CHARSET "UTF-8";

/* div.top {
	height: 30px;
	background: #191919;
	position: fixed;
	right: 0;
	left: 0;
	z-index: 9;
	color: #fffcf3;
	top: 0;
}
*/

div.box {
	background-color: #FFF;
	position: fixed;
}

div.content {
	color: #242424;
	font-size: 100%;
	height: 300px; /* 高度 */
	width: 200px; /* 宽度 */
	border: 1px solid #CCCCCC; /* 虛線邊框 1 像素 灰色色*/
	margin: 4px; /* 四周邊界*/
	float: left;
}

.h1size {
	font-size: 100%;
}

.user {
	
}